#main-layout{
    -fx-background-color: #FFE4C4; 
    -fx-font-weight: bold; 
    -fx-font-size: 17px;
}

#name-label, #umur-label, #alamat-label{
    -fx-text-fill: black;
    -fx-font-family: 'Poppins'; 
    -fx-font-weight: bold; 
    -fx-font-size: 15px;
}

#image{
    -fx-background-radius: 30; 
    -fx-border-radius: 25; 
    -fx-border-width: 2; 
}

#back-btn{
    -fx-font-weight: bold; 
    -fx-background-color: #ffffff; 
    -fx-text-fill: rgb(0, 0, 0); 
    -fx-font-size: 15px;
    -fx-border-color: black;
    -fx-border-radius: 0;
}

#layout{
    -fx-background-color: #FFE4C4 ;
}